<div class="row">
  <div class="col s12">
    <div class="intro">
      <div class="intro-services intro-section">
        <div class="intro-content">
          <i class="material-icons">business</i>
          <span class="flow-text">WordPress</span>
        </div>
      </div>
    </div>
  </div>
</div>
<blockquote cite="">
  WordPress is a free and open-source content management system (CMS) based on PHP and MySQL. WordPress is installed on a web server that is either part of an Internet hosting service or a network host in its own right. The first case may be a service like
  WordPress.com, for example, and the second case could be a computer running the software package WordPress.org. A local computer may be used for single-user testing and learning purposes. Features include a plugin architecture and a template system.
  WordPress was used by more than 27.5% of the top 10 million websites as of February 2017. WordPress is reportedly the most popular website management or blogging system in use on the Web, supporting more than 60 million websites.
</blockquote>