<div class="row">
  <div class="col s12 m8">
    <i class="small material-icons">person_pin</i>
    <span class="flow-text">Hello, I am Tracy</span>
    <p>
      Pitchfork flexitarian gastropub, pour-over kickstarter next level neutra four dollar toast cliche. Raw denim vaporware art party, disrupt vinyl woke thundercats kinfolk chia air plant forage mustache. Fanny pack squid vaporware, retro offal mlkshk franzen.
      Austin pug mixtape pinterest snackwave pabst. Twee normcore trust fund photo booth banjo. Kale chips swag keffiyeh YOLO, sartorial chicharrones kombucha mustache freegan. Humblebrag narwhal ramps distillery.
    </p>
  </div>
  <div class="col s12 m4">
    <i class="small material-icons">location_on</i>
    <span class="flow-text">Chicago, Ill</span>
    <p>I'm came for the weather, but I stayed for the beaches.</p>
  </div>
</div>