/* You can add global styles to this file, and also import other style files */


/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

.screen-reader-text {
  display: none;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f1f1f1;
  color: #0a1612;
}
section {
  padding: 2rem 0;
}
.progress {
  width: 25%;
  margin: 50vh auto 0;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

nav {
  background-color: #192A30;
  color: #C5C1C0;
}
main {
  flex: 1 0 auto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.page-footer {
  background-color: #192A30;
}