/* You can add global styles to this file, and also import other style files */


/*--------------------------------------------------------------
# Body
--------------------------------------------------------------*/

.screen-reader-text {
  display: none;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f1f1f1;
  color: #263238;
}
section {
  padding: 3rem 0;
  min-height: 72vh;
}
.page-loading,
.home-loading {
  width: 25%;
}
.page-loading {
  margin: 10vh auto 0
}
.home-loading {
  margin: 50vh auto 0;
}
.home-section:not(:first-child):not(:last-child) {
  padding: 2.5rem 0;
}
blockquote {
  border-left: 5px solid #dddddd;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.fixed {
  position: fixed;
}
.profile-show {
  transition: all 0.4s ease-in;
  visibility: visible;
  height: inherit !important;
  min-height: inherit !important;
}
.profile-hide {
  height: 0 !important;
  min-height: 0 !important;
  transition: all 0.2s ease-in;
  visibility: hidden;
}
nav {
  background-color: #263238;
  color: #C5C1C0;
  z-index: 9999999999999999999;
}
main {
  flex: 1 0 auto;
}
.tabs.tabs-transparent .indicator {
  background-color: #DDB938;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile img {
  max-width: 140px;
}
.profile-info {
  margin-bottom: 0;
}
.profile .card-panel {
  margin: 0.5rem 0 0 0;
}
.profile span {
  color: #748a94;
}
nav .brand-logo {
  position: relative;
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1.8rem;
  letter-spacing: 0.7px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.intro {
  position: relative;
  padding-bottom: 0.2rem;
}
.intro-content,
.intro-location {
  background: #f1f1f1;
  z-index: 1;
  width: 100%;
}
.intro-content {
  max-width: 235px;
}
.intro-location,
.intro-services {
  max-width: 160px;
}
.intro-section:before {
  content: "";
  position: absolute;
  top: 19px;
  width: 100%;
  border-bottom: 4px solid #dddddd;
  z-index: -1;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #DDB938;
  margin-right: 24px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.card .card-content .card-title i {
  color: #DDB938;
}
.card.github,
.home-section .card .card-content {
  background: #455a64;
}
.card.github .card-content {
  color: #f1f1f1;
}
.card-panel {
  color: #fff;
  text-align: center;
}
.home-section .card .card-content {
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.page-footer {
  background-color: #192A30;
}
.page-footer .footer-copyright {
  background-color: #263238;
}
@media screen and (max-width: 480px) {
  section {
    padding: 4.8rem 0;
  }
  .nav-extended {
    position: fixed;
  }
  .home-section:not(:first-child):not(:last-child) {
    padding: 0;
  }
}